@font-face {
    font-family: Cardo;
    src: url('/fonts/Cardo104s-webfont.eot');
    src: url('/fonts/Cardo104s-webfont.eot?#iefix') format('embedded-opentype'),
    url('/fonts/Cardo104s-webfont.woff') format('woff'),
    url('/fonts/Cardo104s-webfont.ttf') format('truetype'),
    url('/fonts/Cardo104s-webfont.svg#Cardo') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: Cardo;
    src: url('/fonts/Cardoi99-webfont.eot');
    src: url('/fonts/Cardoi99-webfont.eot?#iefix') format('embedded-opentype'),
    url('/fonts/Cardoi99-webfont.woff') format('woff'),
    url('/fonts/Cardoi99-webfont.ttf') format('truetype'),
    url('/fonts/Cardoi99-webfont.svg#CardoItalic') format('svg');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: Cardo;
    src: url('/fonts/Cardob101-webfont.eot');
    src: url('/fonts/Cardob101-webfont.eot?#iefix') format('embedded-opentype'),
    url('/fonts/Cardob101-webfont.woff') format('woff'),
    url('/fonts/Cardob101-webfont.ttf') format('truetype'),
    url('/fonts/Cardob101-webfont.svg#CardoBold') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: NeoRetroDraw;
    src: url('/fonts/NEORD___-webfont.eot');
    src: url('/fonts/NEORD___-webfont.eot?#iefix') format('embedded-opentype'),
    url('/fonts/NEORD___-webfont.woff') format('woff'),
    url('/fonts/NEORD___-webfont.ttf') format('truetype'),
    url('/fonts/NEORD___-webfont.svg#NeoRetroDraw') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: NeoRetroFill;
    src: url('/fonts/NEORF___-webfont.eot');
    src: url('/fonts/NEORF___-webfont.eot?#iefix') format('embedded-opentype'),
    url('/fonts/NEORF___-webfont.woff') format('woff'),
    url('/fonts/NEORF___-webfont.ttf') format('truetype'),
    url('/fonts/NEORF___-webfont.svg#NeoRetroFill') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: NeoRetroShadow;
    src: url('/fonts/NEORS___-webfont.eot');
    src: url('/fonts/NEORS___-webfont.eot?#iefix') format('embedded-opentype'),
    url('/fonts/NEORS___-webfont.woff') format('woff'),
    url('/fonts/NEORS___-webfont.ttf') format('truetype'),
    url('/fonts/NEORS___-webfont.svg#NeoRetroShadow') format('svg');
    font-weight: normal;
    font-style: normal;
}
