@import 'bourbon/bourbon';
@import "grid-settings";
@import "neat/neat";

@import 'fonts';
@import 'colors';

html, body {}

body #wrapper {
    @include outer-container;

    height: 100%;
    min-height: 960px;
    font-family: Cardo;
    font-size: 1em;

    p {
        max-width: 33em;
        line-height: 1.5em;
        margin-bottom: 10px;

        a {
            color: $red;
            text-decoration: none;

            &:hover {
                color: $black;
            }

            &:visited {
                color: $pale-red;
                &:hover {
                    color: $black;
                }
            }
        }
    }

    p + p {
        text-indent: 20px;
    }

    header {
        width: 100%;
        font-family: NeoRetroDraw;
        color: $gray;
        font-size: 2em;
        margin: 0;
        border-bottom: 2px $gray solid;

        a { 
            color: $gray;
            text-decoration: none;
        }

        h1 {
            text-align: center;
        }
    }

    footer {
        @include fill-parent;
        height: 48px;
        font-family: NeoRetroDraw;
        border-top: 2px $gray solid;
        ul {
            list-style-type: none;
            @include fill-parent;

            li {
                text-align: center;
                @include span-columns(4 of 12);

                @include media($mobile) {
                    @include span-columns(2 of 6);
                }
                @include media($narrow) {
                    @include span-columns(3 of 9);
                }

                a {
                    color: $gray;
                    text-decoration: none;
                }

                a:hover {
                    font-family: NeoRetroFill;
                }
            }
        }
    }
    

    #posts {
        @include fill-parent;

        article {
            list-style-type: none;
            @include fill-parent;

            header {
                font-family: Cardo;
                font-size: 1.1em;
                height: 30px;

                h1.title {
                    float: left;
                    text-align: left;
                    color: $black;

                    a {
                        color: $black;
                        text-decoration: none;
                        border-left: 2px solid $red;
                        padding-left: 2px;
                    }

                    a:hover {
                        padding: 0;
                        padding-left: 4px;
                        border-left: none;
                    }
                }

                h2.created_at {
                    float: right;
                    text-align: right;
                    color: $black;
                    font-style: italic;
                }

            }

            .description {
                clear: both;
                text-align: justify;
                color: $black;
            }
        }

        .break {
            clear: both;
            margin: 0px auto;
            margin-top: 1em;
            height: 30px;
            width: 30px;
            background-image: url('/img/break.svg');
            background-repeat: no-repeat;
            background-size: 100%;
        }
    }

    #projects, #about {
        h1 {
            background: $black;
            font-family: NeoRetroFill;
            color: white;
            text-align: center;
        }
    }

    #projects {
        @include fill-parent;

        table {
            tr {
                td {
                    padding-bottom: 20px;
                    &.logo {
                        @include span-columns(4 of 12);
                    }
                    &.description {
                        @include span-columns(6 of 12);
                        padding-left: 10px;
                    }
                    img {
                        @include fill-parent;
                        display: block;
                        opacity: 0.5;
                        &:hover {
                            opacity: 0.9;
                        }
                    }
                }
            }
        }
    }

    #about {
    }
}
